table {
    border: 1px solid white;
  display: flex;
  flex-direction: column;
}

table > tr {
  margin-top: auto;
}

* {
    background-color: black;
    color:white;
}

textarea {
    width: 100%;
    min-height: 100px;
}